@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* common styles */
.btn {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #ff5400;
  color: #fff;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}

/* start header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
}

.name img {
  width: 70px;
  height: 60px;
  margin-top: 25px;
  padding-right: 10px;
}

.name h2 {
  font-size: 36px;
  color: #131318;
  font-weight: 800;
}

.name-color {
  color: #ff5400;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 10px;
  margin: 0 10px;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li:first-child a {
  color: #ff5400;
}

nav ul li:first-child a {
  font-weight: 700;
}

/* <!-- header section end -->

<!-- cover section start --> */

.search-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  text-align: center;
}

.search-content {
  padding: 50px;
}

.search-content h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.search-content p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.search-box {
  display: inline-flex;
  justify-content: center;
  padding: 16px;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  /* margin: 0 auto; */
}

.hidden-label {
  display: none;
}

.search-option {
  display: flex;
  justify-content: center;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
}

.search-input {
  width: 174px;
  height: 52px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  text-indent: 10px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.5);
}

.search-button {
  width: 174px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

i.fas.fa-search:before {
  margin-left: 20px;
}

/* cover section end */

/* blog section styles start */

.blog {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
}

.blog-article {
  max-width: 600px;
  margin-right: 50px;
}

.article-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.article-p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.blog-article ul {
  margin: 30px 0;
}

.blog-article ul li {
  margin: 10px 0;
  padding: 5px;
}

.bold {
  font-size: 18px;
  font-weight: bold;
  color: #131318;
}

.blog-img {
  width: 600px;
  height: 580px;
  border-radius: 16px;
  background: url("Images/Rectangle4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 45px;
}

/* blog section styles end */

/* photo gallery section styles start */

.gallery-container {
  height: 1150px;
  text-align: center;
  margin: 0 auto;
}

.gallery-title {
  width: 650px;
  margin: 50px auto;
  text-align: center;
}

.gallery-title h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin: 10px 0;
  text-align: center;
}

.gallery-title p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.img-grid {
  width: 1170px;
  margin-top: 40px;
  margin: 0 auto;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  margin: 22px auto;
}

.row-3 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* this common styles for all img inside the img-grid */
#common-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

.maldives {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/maldives.png");
  width: 573px;
  height: 300px;
}

.indonasia {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/indonasia.png");
  width: 573px;
  height: 300px;
}

.srilanka {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/srilanka.png");
  width: 374px;
  height: 286px;
}

.north-america {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/america.png");
  width: 474px;
  height: 286px;
}

.kashmir {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/kashmir.png");
  width: 274px;
  height: 286px;
}

.bangladesh {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/banglasesh.png");
  width: 473px;
  height: 300px;
}

.bandarban {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/bandarban.png");
  width: 673px;
  height: 300px;
}

/* photo gallery section styles end */

/* features section styles start */

.Features {
  text-align: center;
}

.features-title-h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.features-title-p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.features-box {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

.box-1 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  text-align: start;
  margin-right: 15px;
}

.box-1 img {
  width: 64px;
  height: 64px;
  margin-top: 40px;
  margin-left: 30px;
}

.box-1 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-left: 30px;
}

.box-1 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 30px;
}

.box-2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  text-align: start;
  margin-left: 15px;
}

.box-2 img {
  width: 64px;
  height: 64px;
  margin-top: 40px;
  margin-left: 30px;
}

.box-2 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-left: 30px;
}

.box-2 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 30px;
}

.price {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.box-3 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  text-align: start;
}

.box-3 img {
  width: 64px;
  height: 64px;
  margin-top: 40px;
  margin-left: 30px;
}

.box-3 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-left: 30px;
}

.box-3 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 30px;
}

/* features section styles end */

/* Deals and Discounts section style start */

.deals {
  margin: 40px 0;
}

.deals-title {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.deals-title h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin: 5px;
  padding: 10px;
}

.deals-title p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 5px;
}

.deals-cover {
  width: 1170px;
  height: 500px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.1) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group-39.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin: 40px 0;
  position: relative;
}

.deals-box {
  width: 520px;
  height: 370px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 60px;
  right: 70px;
}

.deals-time {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-left: 30px;
}

.deals-time img {
  width: 24px;
  height: 24px;
  margin-top: 13px;
  margin-right: 5px;
}

.deals-time p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.deals-details {
  margin-left: 30px;
}

.deals-details h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 5px;
}

.deals-details p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.package-price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin-right: 60%;
  margin-bottom: 0;
}

.booking-btn {
  width: 150px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  cursor: pointer;
}

/* 2nd cover */

#cover-2 {
  transform: scaleX(-1);
}

.button-div {
  text-align: center;
}

.button-see-more {
  width: 210px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* new section */

.video-section {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.video-details {
  width: 550px;
  height: 500px;
  margin-right: 20px;
}

.video-details h2 {
  width: 448px;
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}

.video-details p {
  width: 532px;
  color: #5a5a5d;
  font-weight: 400;
  line-height: 26px;
}

.video-details li {
  width: 518px;
  color: #131318;
  font-weight: 700;
  line-height: 26px;
  margin: 15px 0;
}

.video-details button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.video {
  width: 610px;
  height: 424px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #131318 -31.96%,
    rgba(19, 19, 24, 0) 100%
  );
}

/* Newsletter section styles start */

.newsletter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.newsletter-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  width: 400px;
  height: 380px;
  border: 1px solid #ff5400;
}

.newsletter-form h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.newsletter-form p {
  width: 350px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.form-hr {
  width: 393px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin: 20px 0;
}

.newsletter-form input {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  border: none;
  margin: 10px 0;
  outline: none;
}

.newsletter-form input::placeholder {
  text-indent: 15px;
}

.newsletter-form button {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.discount-photo {
  width: 672px;
  height: 422px;
  border-radius: 16px;
  background: url("Images/Rectangle-8.png"), lightgray 50% / cover no-repeat;
  position: relative;
  margin-bottom: 2px;
}

.discount-sticker {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  position: absolute;
  right: 10px;
  bottom: 50px;
}

.discount-sticker p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.discount-sticker h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* last section end */

footer {
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 0 auto;
}

.footer-container {
  width: 1170px;
  text-align: center;
  padding: 100px 100px 0 100px;
  margin: 0 auto;
}

.footer-title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-logo {
  width: 70px;
  height: 60px;
  margin-top: 13px;
}

.footer-name {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
  padding-left: 10px;
}

.footer-details {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.footer-social ul li {
  list-style: none;
}

.footer-social ul li a {
  text-decoration: none;
  width: 70px;
  height: 70px;
  padding: 10px;
  color: #131318;
}

.footer-hr {
  width: 900px;
  height: 1px;
  margin: 30px auto;
}

.copyright {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
  margin: 50px auto;
}

/* Add a media query for smaller screens */

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .name img {
    margin-top: 10px;
  }

  nav ul {
    display: none;
  }

  .search-container {
    height: auto;
  }

  .search-content {
    padding: 30px;
  }

  .search-box {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .search-input,
  .search-option select,
  .search-button {
    width: 100%;
  }

  .search-button {
    padding-right: 0;
  }

  .blog {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog-article,
  .blog-img {
    width: 100%;
    margin-right: 0;
  }

  .gallery-container,
  .Features,
  .deals,
  .video-section,
  .newsletter,
  footer {
    text-align: center;
  }

  .gallery-title,
  .features-title,
  .deals-title,
  .newsletter-form,
  .footer-title {
    width: 100%;
    margin: 0 auto;
  }

  .img-grid,
  .deals-cover,
  .discount-photo {
    width: 100%;
  }

  .deals-box {
    width: 100%;
    right: 0;
  }
}
