@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700&display=swap");

html,
body {
  height: 100vh;
  max-width: 100%;
  font-family: "Mulish", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* start header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
}

.name img {
  width: 70px;
  height: 60px;
  margin-top: 25px;
  padding-right: 10px;
}

.name h2 {
  font-size: 36px;
  color: #131318;
  font-weight: 800;
}

.name-color {
  color: #ff5400;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 10px;
  margin: 0 10px;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li:first-child a {
  color: #ff5400;
}

nav ul li:first-child a {
  font-weight: 700;
}

/* <!-- header section end -->

<!-- cover section start --> */

.search-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("/Images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  border-radius: 16px;
  text-align: center;
}

.search-content {
  padding: 50px;
}

.search-content h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.search-content p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.search-box {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.search-option {
  display: flex;
  justify-content: center;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
}

.search-input {
  width: calc(100% - 20px);
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 8px;
  font-size: 16px;
  text-align: start;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.5);
}

.search-button {
  width: 174px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 35px;
  top: 55%;
  transform: translateY(-50%);
}

.search-icon svg {
  fill: #fff;
  width: 35px;
  height: 35px;
}

/* cover section end */
